<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col d-flex justify-content-center text-center mt-5">
      <div class="col-10 col-md-6 mt-5">
        <div><%= image_tag 'logo.png', class: 'img-fluid', width: '120px' %></div>
        <div class="col-12 text-center pb-2">
          <p class="w-lg-50 pt-3 fs-3 text-purple">新規会員登録</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-md-6">
      <%= form_with model: @user, url: user_registration_path, class: 'text-center mb-4', local: true do |f| %>
        <%#= render 'layouts/validation_error', instance: @user %>

        <div class="div-title mb-4">
          <div class="text-start">
            <%= f.label :username, class: 'title-p fw-bold text-main', value: 'ユーザーネーム' %>
            <span class="p_required text-danger">※必須</span>
          </div>
          <%= f.text_field :username, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
        </div>
        <div class="div-title mb-4">
          <div class="text-start">
            <%= f.label :email, class: 'title-p fw-bold text-main', value: 'メールアドレス' %>
            <span class="p_required text-danger">※必須</span>
          </div>
          <%= f.email_field :email, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
        </div>
        <div class="div-title mb-4">
          <div class="text-start">
            <%= f.label :password, class: 'title-p fw-bold text-main', value: 'パスワード' %>
            <span class="p_required text-danger">※必須</span>
          </div>
          <%= f.password_field :password, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
        </div>
        <div class="div-title mb-4">
          <div class="text-start">
            <%= f.label :password_confirmation, class: 'title-p fw-bold text-main', value: 'パスワード確認' %>
            <span class="p_required text-danger">※必須</span>
          </div>
          <%= f.password_field :password_confirmation, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
        </div>
        <!--生年月日-->
        <div class="div-title mt-4 mb-4">
          <div class="text-start">
            <%= f.label :birthday, class: 'title-p fw-bold text-main', value: '生年月日' %>
          </div>
          <%#= text_field_tag 'birthday', nil, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3'%>
          <%= f.date_field :birthday, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
        </div>
        <!--性別-->
        <div class="div-title mb-4">
          <div class="text-start">
            <%= f.label :gender, class: 'title-p fw-bold text-main', value: '性別' %>
            <%= f.select :gender, {'男性': 1, '女性': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
          </div>
        </div>
        <!--プロフィール-->
        <div class="div-title mt-4 mb-4">
          <div class="text-start">
            <%= f.label :profile, class: 'title-p fw-bold text-main', value: 'プロフィール' %>
          </div>
          <%= f.text_area :profile, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
        </div>
        <!--ユーザー画像登録-->
        <div class="img-select">
          <div class="text-start">
            <%= f.label :avatar, class: 'fw-bold mb-4 text-main', value: 'ユーザー画像登録' %>
            <!--<span class="p_required text-danger">※必須</span>-->
          </div>
          <%= f.file_field :avatar %>
        </div>
        <div class="col-12 d-flex justify-content-center btn-new mb-5">
          <%= f.submit '新規登録', class: 'btn d-block rounded fw-bold box-shadow text-white mt-4 px-5 py-3 fs-6', style: 'background-color: #0097b2;' %>
        </div>
      <% end %>
    </div>
  </div>
</div>